<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel = "stylesheet" href="/css/styles.css"> 
</head>

<body>
     <div class="main-containt">
    {{>header}}
    <p>This site is about weather</p>
    <img src="img/i1.jpg">
    </div>

    {{>footer}}
</body>

</html>